 {{!-- - ABOUT HE FAILS ME: - HFM Bio - Studio/Live production: - short bio with pics/video - List of bands w/ short bios
and 1 youtube vid + links to Spotify pages - No Motiv - The Warriors - Retaliate - Peace’d Out - Felled Trees --}}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <section>
                <h1>ABOUT HE FAILS ME</h1>
                <hr> {{!-- add "band_photo psd" into jpg--}}
                <p> He Fails Me is the solo music entity of Roger Camero. In 2003, during touring downtime with the band, No
                    Motiv, HFM was created with the sole purpose of Roger writing and recording songs for fun. There was
                    no desire to turn the project from a one man band into a live performance band. During 2003-2013, several
                    songs were written and recorded by Roger, only to be shared with a few close friends who were interested
                    in listening. </p>
                <br>
                <p> For the past 20 years, Roger has been working mainly as a live sound engineer and record producer, while
                    also keeping active playing in several bands that function as part time side projects. In 2013, the decision
                    was made to finally bring He Fails Me to the public eye. In between touring cycles and album production,
                    He Fails Me has released 5 recordings and has played 9 shows, with a tight cast of Raymond Camero (Roger’s
                    older brother) and other close friends filling out the band. </p>
                <hr>
                <p>He Fails Me “Live” has been made possible by the following members (so far):</p>
                <ul>
                    <li>Roger Camero: Vocals, Guitar</li>
                    <li>Raymond Camero: Bass, Guitar, Keyboard</li>
                    <li>Cortney Miner: Guitar</li>
                    <li>Michael Procaccini: Bass</li>
                    <li>Wayne Peterson: Drums</li>
                    <li>Steve Choi: Drums</li>
                    <li>Erol Ulug: Drums</li>
                </ul>
            </section>
        </div>
    </div>
</section>
<section>



<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <section>
                <h2>LIVE PRODUCTION</h2>
                <p>
                    In 2008, Roger was hired to be the Front of House Sound Engineer for the band, RX Bandits. He toured with the band until
                    2016, the bands last full US tour. His client list includes:</p>
                <p>Parkway Drive, Circa Survive, Knapsack, Set Your Goals, This Wild Life, The Movielife, Night Demon, Kiev.</p>
                <br>
                <img style="width:50%; height:50%" src="/assets/images/teragram.JPG" />
                <p>Matthew Embree of Rx Bandits & Roger @ Teragram Ballroom, Los Angeles, Ca. Photo: Ciara McMullan </p>
                <br>
                <br>
                <p>
                    Aside from working as a live sound engineer, he has teched for the following bands:
                </p>
                <ul>
                    <li>Ben Harper & The Innocent Criminals - Bass Tech</li>
                    <li>New Found Glory - Bass Tech & Drum Tech</li>
                    <li>At The Drive In - Guitar Tech</li>
                    <li>The Sound of Animals Fighting - Band Tech</li>
                </ul>
                {{!--These pics will be side by side, might look better in B&W--}}
                <img style="width:50%; height:50%" src="/assets/images/tsoaf.JPG" />
                <p>The Sound of Animals Fighting @ The Wiltern, Los Angeles, Ca.</p>
                <img style="width:50%; height:50%" src="/assets/images/benharper.JPG" />
                <p>Ben Harper & The Innocent Criminals @ Austin City Limits, Austin, Tx.</p>
                <img style="width:50%; height:50%" src="/assets/images/thailand1.JPG" />
                <p>New Found Glory @ Live House Studio, Bangkok, Thailand.</p>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <section>
                <h2>STUDIO PRODUCTION</h2>
                <p>
                    Roger got his start professionally producing records for local bands in his hometown of Oxnard, Ca in 1999. After his years
                    of touring with No Motiv, he moved to Orange County to pursue a full time career in studio production.
                    For the past 11 years, he has been working at his personal studio, Bright Lights, in Santa Ana, Ca, as
                    well as Bright Mountain in Tehachapi, Ca. His client list includes:
                    <br> No Motiv, The Warriors, Silver Snakes, Night Demon, Grave Maker, RX Bandits, Comeback Kid, Thrice, Gygax,
                    New Liberty, Aaron Orbit, Retaliate, Vendetta, NAILS, The Frights, Vinnie Caruana, Anthony Raneri, The
                    Velveteen, The Aquabats, Ignite, Foreign Pain, Nike, Hurley, Skullcandy.
                </p>
                <img style="width:50%; height:50%" src="/assets/images/BL1.jpg" />
                <p>Bright Lights, Santa Ana, Ca.</p>
                <img style="width:50%; height:50%" src="/assets/images/brightmountaincontrolroom.JPG" />
                <p>Bright Mountain, Tehachapi, Ca.</p>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <section>
                <h2>BANDS</h2>
                <hr>
                <h3>No Motiv</h3>
                <hr>
                <img style="width:50%; height:50%" src="/assets/images/nomotiv.jpg">
                <p>Bassist 1991-2002, Drummer 2002-Present</p>
                <hr>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/GD4lbfSPHDE?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0"
                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <p>"Into The Darkness" Music Video</p>
                <hr>
                <a href="https://open.spotify.com/artist/2C1nw3NCKAUoY1IUuyk34L">No Motiv Spotify</a>
                <hr>
                <a href="https://en.wikipedia.org/wiki/No_Motiv">No Motiv Wikipedia</a>
                <hr>
                <h3>The Warriors</h3>
                <hr>
                <img style="width:50%; height:50%" src="/assets/images/warriors.jpg">
                <p>Bassist 2007, Drummer 2006, 2009-Present</p>
                <hr>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/0erXPzs9qjs?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0"
                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <p>Live @ Union, Los Angeles, Ca 4.19.16</p>
                <hr>
                <a href="https://open.spotify.com/artist/0eHAMIAxiBEpQdv8UVwSxb">The Warriors Spotify</a>
                <hr>
                <a href="https://en.wikipedia.org/wiki/The_Warriors_(band)">The Warriors Wikipedia</a>
                <hr>
                <h3>Retaliate</h3>
                <hr>
                <img style="width:50%; height:50%" src="/assets/images/retaliate.jpg">
                <p>Guitarist</p>
                <hr>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ol2qde1FNR8?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0"
                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <p>Retaliate featured on The Eric Andre Show</p>
                <hr>
                <a href="https://open.spotify.com/artist/2LbJc3kbLRoxHH0kw22r1s">Retaliate Spotify</a>
                <hr>
                <h3>Peace'd Out</h3>
                <hr>
                <img style="width:50%; height:50%" src="/assets/images/peacedout.jpg">
                <p>Bassist</p>
                <hr>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/sSC4Rw0HHAc?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0"
                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <p>"Castlemania" live @ Bright Lights</p>
                <hr>
                <a href="https://open.spotify.com/artist/3zdECoqnUf6iExu7fkIziI">Peace'd Out Spotify</a>
                <hr>
                <h3>Felled Trees</h3>
                <hr>
                <img style="width:50%; height:50%" src="/assets/images/felledtrees.jpg">
                <p>Drummer</p>
                <hr>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/L41a6gFEoeo" frameborder="0" allow="autoplay; encrypted-media"
                    allowfullscreen></iframe>
                    <p>"Get Me" live @ Bright Lights</p>
                <hr>
                <a href="https://www.rollingstone.com/music/news/felled-trees-honor-dinosaur-jr-with-get-me-song-premiere-20130927">
                    Rolling Stone Feature</a>  <hr>
                <a href="https://www.altpress.com/news/entry/felled_trees_members_of_thrice_samiam_texas_is_the_reason_stream_get_me_din">
                    Alternative Press Feature</a>  <hr>
                <a href="http://www.brooklynvegan.com/members-of-texa/">
                    Brooklyn Vegan Feature</a>
            </section>
        </div>
    </div>
</div>
