 {{!-- 
 - MAIN PAGE:
  - feature on the new single, “Code Break”.
  - song stream from soundcloud.com
  - pictures from recording session
--}}


<header class="video-header">
   <div class="full-bg-video-wrap">
    <video autoplay loop id="video-background" muted plays-inline>
      <source src="assets/video/hefailsme-Live-@-BONNERHAUS-North-Hollywood-CA.mp4" type="video/mp4">
    </video>
   </div>
</header>

<!-- Slider main container -->
<div class="swiper-container main-slider" id="myCarousel">
  <div class="swiper-wrapper">
    <div class="swiper-slide slider-bg-position" style="background:url('assets/images/band_Photo.jpg)" data-hash="slide1">
      <h2>It is health that is real wealth and not pieces of gold and silver</h2>
    </div>
    <div class="swiper-slide slider-bg-position" style="background:url('assets/images/teragram.JPG')" data-hash="slide2">
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Add Navigation -->
  <div class="swiper-button-prev"><i class="fa fa-chevron-left"></i></div>
  <div class="swiper-button-next"><i class="fa fa-chevron-right"></i></div>
</div>

<section class="service-sec" id="benefits">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="heading">
      <h2><small>Lastest Singles Out Now</small>Sign up for Ou email list and never miss a show</h2>
    </div>
        </div>
      <div class="col-md-8">
        <div class="row">
            <div class="col-md-3 text-sm-center service-block"> <i class="fa fa-plus" aria-hidden="true"></i>
          <h3>Better Sleep</h3>
          <p>Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe.</p>
        </div>

        </div>
      </div>
      <div class="col-md-9"> <img src="assets/images/tsoaf-md.jpg" class="img-fluid" /> </div>
    </div>
    <!-- /.row --> 
  </div>
</section>